<% hide_right %>
<% hide_left %>
<h1><%= title "Processing Payment" %></h1>

<p>
  We are currently processing your payment, which may take a few moments to complete.  Your order should be listed in <%= link_to "your order history", users_path %>, however if it is not in a few moments please <%= link_to "contact us", :controller => "web", :action => "contact_us" %> and we will endevour to resolve this issue for you.
</p>
