<% metadata(@page_node.active_content.meta_description, @page_node.active_content.meta_tags) %>

<h1><%= title @page_node.title %></h1>	

<%= @page_node.active_content.main_content %>

<% content_for :right do %>

<% end %>